/*===================================================
                    CIENTS
==================================================*/

/* large devices */



@media(min-width:992px) and (max-width:1199px) {
    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0px;
        
    }
    
    .navbar-nav {
        float:left;
        
    }
    .vesco-nav-wrapper {
        padding: 0;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0px;
        
    }
    
    .navbar-nav {
        float:left;
        
    }
    
          
    .vesco-nav-wrapper {
        padding: 0;
    }
    
    #about-bg-diagonal {
        border: 0;
        width: 100%;
        height: 350px;
            
    }
    
    #about-content-box {
        width: 100%;
        height: 320px;
    }
    
    /*  stats    */
    .stats-item {
        padding: 20 0;
    }
    
    /* copyright */
    
    #footer-copyrights {
        text-align: center;
    }




}

@media(max-width:768px) {
    .navbar {
        background: rgba(0,0,0,0.7);
        padding: 0px;
        
    }
    
    .navbar-nav {
        float:left;
        
    }
    .vesco-nav-wrapper {
        padding: 0;
    }
    /* heading */
    #home-heading h3 {
        font-size: 24px;
        
    }
    
    .btn-general {
        padding:6px 22px;
        font-size: 15px;
    }
    
    #about-bg-diagonal {
        border: 0;
        width: 100%;
        height: 350px;
            
    }
     #about-content-box {
        width: 100%;
        height: 320px;
    }
    
    .img-wrapper {
        min-width: 100%;
    }
    
    /* testimonials */
    .testimonial blockquote {
        padding:6px 58px;
        
    }
    
    .testimonial blockquote::before {
        left: 10px;
    }
    testimonial blockquote::after {
        right: 10px;
    }
    .testimonial blockquote p {
        font-size: 14px;
    }
    
    .stats-item {
        padding: 20 0;
    }
    
    #footer-copyrights {
        text-align: center;
    }
}

@media(max-width:480px) {
    /* ok */
}

@media(max-width:320px) {
   /* services */ 
    .service-item-icon  {
        width: 58px;
        height: 58px;
        padding: 7px;
        
        
    }
    
    .service-item-icon h3 {
        font-size: 17px;
    }
    
    #about-content-box {
        margin-top: 48px;
    }
    
    /* testimonials */
    
    .testimonial img {
        max-width: 80px;
    }
    .testimonial blockquote {
        padding:6px 30px;
        
    }
    
    .testimonial blockquote::before {
        left: 7px;
    }
    testimonial blockquote::after {
        right: 7px;
    }
    .testimonial blockquote p {
        font-size: 12px;
    }
    
}











